* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #000;
    font-size: 22px;
    color: seashell;
    opacity: 0.9;
    text-align: center;
}

header {
    width: 100%;
    height: 69px;
    border-bottom: 1px solid seashell;
    display: inline-flex;
    justify-content: space-between;
    align-items:center;
}

a {
    color: seashell;
    opacity: 0.9;
}

#logo {
    width: 400px;
    height: 50px;
    margin-left: 10px;
    display: flex;
}

nav {
    width: 400px;
    text-align: right;
    display: flex;
    text-align: right;
}

nav ul {
    text-decoration: none;
    justify-items: flex-end;
}

nav ul li {
    display: inline;
    padding-left: 10px;
    
}

/* hero section */

#hero {
    width: 100%;
    height: 750px;
    background: url(./images/img-mission-background.jpg) no-repeat;
    margin: 0 20px;
}