* {
    margin: 0;
    padding: 0;
    color: seashell;
    opacity: 0.9;
}

body {
    width: 100%;
    background-color: #000;
    font-size: 22px;
}

 /* img {
    opacity: 1 !important;
} */

header {
    width: 100%;
    height: 69px;
    border-bottom: 1px solid seashell;
    display: inline-flex;
    justify-content: space-between;
    align-items:center;
    position: fixed;
    top: 0;
    background-color: #000;
    opacity: 1;
    z-index: 1;
}

#logo img{
    height: 50px;
    margin-left: 10px;
}

nav {
    margin-right: 10px;
}

nav ul {
    text-decoration: none;
}

nav ul li {
    display: inline;
    padding-left: 10px;
    
}

/* hero section */

main {
    text-align: center;
    width: 100%;
}

#hero {

    height: 750px;
    background: url(./images/img-mission-background.jpg) no-repeat , rgba(0,0,0,0.5);
    background-blend-mode: darken;   
    background-size: 100%;
    margin: 70px 20px;
    display: flex;
    justify-content: center;
    align-items: center;  
}

#center {
    margin-top: 90px;
    padding-top: 10px;
    width: 100%;
    height: 100px;
    background-color: rgb(0,0,0);
    opacity: 1;
}

h2 {
    opacity: 0.9;
}

/* tea of month section */

#tea-of-month {
    width: 1000px;
    margin: 50px auto;
    text-align: center;
}

#tea-of-month h4 {
    margin: 20px 0;
}

#tea-of-month img {
    width: 300px;
    height: 200px;
    margin-bottom: 10px;
}    


.top-row {
    width: 1000px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    z-index: 0;
    position: relative;
}

.top-row {
    background-color: #000;
  
}

.bottom-row {
    width: 650px;
    display: flex;
    justify-content:space-between;
    margin: 10px auto;
}

/* locations section */

#locations-section {
    background: url(./images/img-locations-background.jpg) no-repeat center, rgba(0,0,0,0.5);
    background-blend-mode: darken;   
    background-size: 100%;
    margin: 0 20px;
    height: 575px;
}


.locations {
    width: 1000px;
    height: 400px;
    margin: 20px auto;
}

#loc{
    padding: 15px 0;
}

.cafes {
    display: flex;
    justify-content: space-between;
    column-gap: 40px;
    opacity: 1;
}

.cafe {
    width: 300px;
    height: 225px;
    background-color: rgb(0, 0, 0);
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 20px;
}

.cafe h3, 
.cafe p {
    opacity: 0.9;
}



footer {
    text-align: center;
    height: 200px;
}

footer h2 {
    margin-top: 20px;
}

footer h5 {
    margin: 40px 0 30px;
}

#copyright {
    text-align: left;
    margin-left: 20px;
}