* {
    margin: 0;
    padding: 0;
    opacity: 0.9;
}

body {
    width: 100%;
    background-color: #000;
    font-size: 22px;
    color: seashell;
}

header {
    width: 100%;
    height: 69px;
    border-bottom: 1px solid seashell;
    display: inline-flex;
    justify-content: space-between;
    align-items:center;
    position: fixed;
    top: 0;
    background-color: #000;
    z-index: 1;
}

a {
    color: seashell;
    opacity: 0.9;
}

#logo img{
    height: 50px;
    margin-left: 10px;
}

nav {
    margin-right: 10px;
}

nav ul {
    text-decoration: none;
}

nav ul li {
    display: inline;
    padding-left: 10px;
    
}

/* hero section */

main {
    text-align: center;
    width: 100%;
}

#hero {
    /* border: 1px solid orange; */
    z-index: 0;
    height: 750px;
    background: url(./images/img-mission-background.jpg) no-repeat;
    background-size: 98%;
    margin: 70px 20px 0 20px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;  
}

#center {
    margin-top: 90px;
    padding-top: 10px;
    width: 100%;
    height: 100px;
    background-color: #000;
}

/* tea of month section */

#tea-of-month {
    width: 1000px;
    margin: 50px auto;
    text-align: center;
}

#tea-of-month h4 {
    margin: 20px 0;
}

#tea-of-month img {
    width: 300px;
    height: 200px;
    margin-bottom: 10px;
}

.top-row {
    width: 1000px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.bottom-row {
    width: 650px;
    display: flex;
    justify-content:space-between;
    margin: 10px auto;
}

/* locations section */

#locations-section {
    background: url(./images/img-locations-background.jpg) no-repeat center;
    background-size: 98%;
    margin: 0 20px;
    height: 575px;
    border: 1px solid green;
}


.locations {
    width: 2000px;
    height: 400px;
    margin: 0 auto;
    align-items: center;
    border: 1px solid purple;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-content: center;
}

.cafe-locations {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-content: flex-end;
    border: 10px dotted yellow;
}

.cafe {
    width: 300px;
    height: 250px;
    border: 1px solid blue;
    background-color: #000;
    opacity: 1;
    margin: 0 auto;
}

